{% extends 'client/profile.html.twig' %} {% block active_block %}
    {% if app.user.id==app.request.get('id_client') %}
        <div class="d-flex justify-content-between p-2">
            {# Кнопка Создания нового объявления #}
            <a type="button" class="btn btn-outline-dark"
               href="{{ path('client_ad_own_create',{'id_client':app.user.id}) }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                     class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Создать объявление
            </a>
            <div class="row">
                {# Кнопка Фильтров #}
                <div class="col-6 dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Сортировать
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">По дате создания</a></li>
                        <li><a class="dropdown-item" href="#">По дате обновления</a></li>
                    </ul>
                </div>
                {# Кнопка Статусов #}
                <div class="col-6 dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Статус
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" href="#">1</a></li>
                        <li><a class="dropdown-item" href="#">2</a></li>
                    </ul>
                </div>
            </div>

        </div>

        {% if ads is empty %}
            Добавьте объявление
        {% else %}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-1">
                {% for ad in ads %}
                    <div class="col">
                        <div class="card shadow-sm  ">
                            {# TODO ПОФИКСИТЬ ОТОБРАЖЕНИЕ ИЗОБРАЖЕНИЯ(ПЛАВАЮЩАЯ ВЫСОТА) #}
                            <div id="carouselExampleIndicators{{ ad.id }}"
                                 class="carousel slide card-img-top">
                                <div class="carousel-indicators">
                                    <button type="button"
                                            data-bs-target="#carouselExampleIndicators{{ ad.id }}"
                                            data-bs-slide-to="0" class="active"
                                            aria-current="true"></button>
                                    {% if ad.images|length>1 %}
                                        {% for i in range(0,ad.images|length -2) %}
                                            <button type="button"
                                                    data-bs-target="#carouselExampleIndicators{{ ad.id }}"
                                                    data-bs-slide-to="{{ i+1 }}"></button>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100"
                                             src="{{ '/images/'~ ad.images[0].filename }}">
                                    </div>
                                    {% for im in ad.images[1:] %}
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                 src="{{ '/images/'~ im.filename }}">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="card-body ">
                                <h5 class="card-title">
                                    <a href="{{ path('general_ad_one', {'id_ad': ad.id}) }}">
                                        {{ ad.city ~", "~ ad.address ~", "~ ad.sqr }}
                                        <span style="white-space: nowrap;"> м<sup>2</sup></span>
                                    </a>
                                </h5>

                                {# TODO ПЕРЕДЕЛАТЬ И ЭТОТ УЖАС #}
                                <p class="card-text" id="price_for_{{ ad.id }}"></p>
                                <script>ident_set({{ ad.price }},{{ ad.id }})</script>
                                <div class="d-flex justify-content-between align-items-center">

                                    <small class="text-muted">{{ ad.updateDate|date("d.m.Y H:i") }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% else %}
        Ошибка доступа
    {% endif %}
{% endblock %}