{% extends 'navigation.html.twig' %} {% block body %}

    <style>
        .carousel-item {
            width: 100%;
            height: 200px;
            overflow: hidden;
        }

        .carousel-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .nav-profile , a {
            color: black;
            text-decoration: none;
        }

        a:hover {
            color: black;
        }

        .nav-profile:hover {
            background-color: dimgrey;
            color: white;
        }

    </style>
    {% if app.user %}
        <div class="container">
            <div class="card">
                <div class="row justify-content-center">
                    {# Навигация #}
                    <div class="col-3 ">
                        <div class="nav flex-column">
                            <div class="nav-item">
                                <a class="nav-link nav-profile"
                                   href="{{ path('client_personal_data', {'id_user': app.request.get('id_user')}) }}">
                                    Личные данные
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link nav-profile"
                                   href="{{ path('client_review_all',{'id_user':app.request.get('id_user')}) }}">
                                    Отзывы
                                </a>
                            </div>
                            {% if app.user.id==app.request.get('id_user') %}
                                {% if is_granted('ROLE_AGENT') %}
                                    <div class="nav-item">
                                        <a class="nav-link nav-profile"
                                           href="{{ path('agent_ad_all',{'id_user': app.user.id}) }}">
                                            Прикрепленные объявления
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="nav-item">
                                        <a class="nav-link nav-profile"
                                           href="{{ path('client_ad_own_all',{'id_user': app.user.id}) }}">
                                            Созданные объявления
                                        </a>
                                    </div>
                                    <div class="nav-item">
                                        <a class="nav-link nav-profile"
                                           href="{{ path('client_favorite_all',{'id_user':app.user.id}) }}">
                                            Избранное
                                        </a>
                                    </div>
                                {% endif %}

                            {% endif %}


                        </div>
                    </div>
                    {# Блоки с данными #}
                    <div class="col-9 pe-4">
                        <div class="row mb-2" >
                            <div class="col-4">
                                <small >
                                    {% if is_granted('ROLE_AGENT') %}
                                        Агент №{{ app.user.id }}

                                    {% else %}
                                            Пользователь №{{ app.user.id }}

                                    {% endif %}
                                </small>
                            </div>
                        </div>
                            {% block active_block %}{% endblock %}

                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h1>Ошибка доступа</h1>
    {% endif %}

{% endblock %}