{% extends 'profile.html.twig' %}
{% block active_block %}
    <script src="{{ asset('/js/citySelect.js') }}" type="text/javascript"></script>
    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    {% if app.user.id==app.request.get('id_user') %}
        <div class="card bg-light col-10 mb-4">
            <div class="card-body">
                {% if error is not empty %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                <div class="card-header mb-3">
                    {% if mode == "create" %}
                        Создать объявление
                    {% else %}
                        Редактировать объявление
                    {% endif %}
                </div>
                {{ form_start(form) }}
                {{ form_row(form.region, { 'label': 'Регион' }) }}
                {{ form_row(form.city, { 'label': 'Город' }) }}
                <input id="city_value" disabled hidden value="{{ form.vars.value.city }}">
                {{ form_row(form.district, { 'label': 'Район' }) }}
                <div class="row">
                    {% if form_errors(form.street) is empty and
                        form_errors(form.house_number) is empty and
                        form_errors(form.flat_number) is empty %}
                        <label for="inpg1">Адрес</label>
                    {% else %}
                        <div class="col-8">
                            {{ form_errors(form.street) }}
                        </div>
                        <div class="col-3">
                            {{ form_errors(form.house_number) }}
                        </div>
                        <div class="col-1">
                            {{ form_errors(form.flat_number) }}
                        </div>
                    {% endif %}
                </div>
                <div id="inpg1" class="row">
                    <div class="col-8 d-flex flex-row">
                        <div class="w-2">
                            {{ form_widget(form.street_type,{'attr':{'class':'form-select'}}) }}
                        </div>
                        {{ form_widget(form.street) }}
                    </div>
                    <div class="col-2 d-flex flex-row ">
                        <span class="input-group-text ">д </span>
                        {{ form_widget(form.house_number) }}
                    </div>
                    <div class="col-2 d-flex flex-row">
                        <span class="input-group-text ">кв</span>
                        {{ form_widget(form.flat_number, { 'attr' : { 'novalidate': true } }) }}
                    </div>
                </div>
                {{ form_row(form.sqr, { 'label': 'Площадь'}) }}
                {{ form_row(form.description, {'label': 'Описание'}) }}
                <div class="row">
                    <div class="col">
                        {{ form_row(form.type_rent, {'label': 'Тип', 'attr':{'class':'form-select'}}) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.price, { 'label': 'Цена'}) }}
                    </div>
                </div>
                {{ form_row(form.images,{ 'label': 'Изображения'}) }}
                <div class="d-flex justify-content-end">
                    {% if mode == "create" %}
                        {{ form_row(form.save,{ 'label': 'Добавить'}) }}
                    {% else %}
                        {{ form_row(form.save,{ 'label': 'Редактировать'}) }}
                    {% endif %}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    {% else %}
        Ошибка доступа
    {% endif %}
{% endblock %}