{% extends 'profile.html.twig' %} {% block active_block %}
    {% if app.user.id==app.request.get('id_user') %}
        <div class="d-flex justify-content-between p-2">
            {# Кнопка Создания нового объявления #}
            <div>
                <a type="button" class="btn btn-outline-dark"
                   href="{{ path('client_ad_own_create',{'id_user':app.user.id}) }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                    Создать объявление
                </a>
            </div>
            <div >
                {{ form_start(form) }}
                {{ form_widget(form.choice_status) }}
                {{ form_widget(form.sort_param) }}
                {{ form_widget(form.search,{'attr':{'hidden':'true'}}) }}
                {{ form_end(form , {'render_rest': false}) }}
            </div>

        </div>

        {% if ads is empty %}
            Добавьте объявление
        {% else %}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-1">
                {% for ad in ads %}
                    {% include 'ad/adAllEl.html.twig' with {'ad': ad} %}

                {% endfor %}
            </div>
        {% endif %}
    {% else %}
        Ошибка доступа
    {% endif %}
    <script>
        $('#ad_filter_sort_param').change(function (){
            $("#ad_filter_search").click()
        })
        $('#ad_filter_choice_status').change(function (){
            $("#ad_filter_search").click()
        })
    </script>
{% endblock %}